@model ProductInCategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@Model.Name</h2>

@if (User.IsInRole(WebConstants.ModeratorRole))
{
    <a asp-area="Moderator" class="btn btn-default btn-group-sm" asp-controller="ModeratorProducts" asp-action="Edit" asp-route-id="@Model.Id">Edit @Model.Name</a>
    <a asp-area="Moderator" class="btn btn-danger" asp-controller="ModeratorProducts" asp-action="Delete" asp-route-id="@Model.Id">Delete @Model.Name</a>
}
<div><img src="@Model.ImageUrl" /></div>
<div>
    <strong>Available quantity:</strong> @if (Model.Quantity == 0)
    {
        <span style="color:red">Out of stock!</span>
    }
    else
    {
        <div>Available quantity: @Model.Quantity</div>
    }
</div>
<div><strong>Price:</strong> @Model.Price $</div>
<div><strong>Description:</strong> @Model.Description</div>
<a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id">Add to Cart</a>

<a class="btn btn-default" asp-controller="Comments" asp-action="PostComment" asp-route-id="@Model.Id">Post a comment</a>
@foreach (var comment in Model.Comments)
{
    <div>@Html.Raw(comment.Content)</div>
    <small>published by: @comment.AuthorId</small>
}








